[core]
  excludesfile = /Users/adrien/.gitignore
  editor = nvim
	ignorecase = false
  # protect your project from Windows line endings creeping in
  autocrlf = input
[user]
  name = Adrien Giboire
  email = adrien+github@sent.com
[color]
  ui = auto
[alias]
  st = status
  ci = commit --verbose
  co = checkout
  cpk = cherry-pick
  di = diff --color
  dc = diff --color --cached
  amend = commit --amend
  aa = add --all
  ff = merge --ff-only
  pullr = !git pull --rebase origin $(git rev-parse --abbrev-ref HEAD)
  pullff = pull --ff-only
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  pum = push upstream master
  b = branch -v
  ds = !git diff --color --stat=160,120
  dh1 = !git diff --color HEAD~1
  rc = rebase --continue
  ra = rebase --abort
  ri = rebase --interactive

  # Divergence (commits we added and commits remote added)
  div = divergence

  # Goodness (summary of diff lines added/removed/total)
  gn = goodness
  gnc = goodness --cached

  # Fancy logging.
  #   h = head
  #   hp = head with path
  #   r = recent commits, only current branch
  #   ra = recent commits, all reachable refs
  #   l = all commits, only current branch
  #   la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !GIT_NO_PAGER=1 git l -10
  l = "!. ~/.githelpers && pretty_git_log"

  pr = "!. ~/.githelpers && pull_request"
  d = difftool
  commend = commit --amend --no-edit
  it = !git init && git commit -m "root" --allow-empty
  shorty = status --short --branch
  staash = stash --include-untracked
  ctags = !.git/hooks/ctags

  m = merge --no-edit
[merge]
  tool = nvimdiff
[diff]
  tool = nvimdiff
[pull]
  default = current
[push]
  default = current
[difftool]
  prompt = false
[github]
  token = 318ac7f82fedc1e5c2d0d3e75d7d34b2e7e8ff91
  user = AdrienGiboire
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[init]
	templatedir = ~/.git_template
