[core]
  excludesfile = ~/.gitignore
  editor = ~/Applications/nvim.appimage
  ignorecase = false
  # protect your project from Windows line endings creeping in
  autocrlf = input
[user]
  name = Adrien
  email = github@adrien.sent.com
[color]
  ui = auto
[alias]
  aa = add --all
  amend = commit --amend
  arc = !git aa && git rc
  b = branch -v
  ci = commit --verbose
  co = checkout
  commend = commit --amend --no-edit
  ctags = !.git/hooks/ctags
  dc = diff --color --cached
  d = difftool
  di = diff --color
  fa = fetch --all
  p = push
  pf = push --force
  pick = cherry-pick
  pom = push origin main
  pum = push upstream main
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  st = status
  staash = stash --include-untracked

  r = !git l -10
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

  tags = "for-each-ref --sort=taggerdate --format='%(color:green)%(subject)%(color:reset), tagged: %(color:yellow)%(refname:short)%(color:reset)\n%(taggerdate)\n%(taggername) %(taggeremail)\n\n%(contents:body)\n' refs/tags"

  changelog = "!echo 'Changelog'; git --no-pager log ${1:-$(git describe --tags --abbrev=0)}..HEAD --format='- %s'"

[merge]
  tool = nvimdiff
[diff]
  tool = nvimdiff
[pull]
  default = current
[push]
  default = current
[difftool]
  prompt = false
[github]
  token = 318ac7f82fedc1e5c2d0d3e75d7d34b2e7e8ff91
  user = AdrienGiboire
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[init]
  templatedir = ~/.git_template
[filter "ignoreKey"]
  clean = sed '/signingkey/d'
