.byebug_history
config/database.yml
config/secrets.yml
node_modules
public/packs
.DS_Store
.config/configstore/
.config/gtk-2.0/
.config/htop/
.config/nvim/pack/
.config/nvim/tmp/
.config/nvim/.netrwhist
.ssh/*
.kube
/kubectl-*

.DS_Store
.local.vim
.ignore

tags
.idea
.vscode

Homestead
.vagrant
composer.phar

todo.todo
dump.sql
dump.rdb

.env.development.local
