.DS_Store
.DS_Store
.byebug_history
.config/configstore/
.config/gtk-2.0/
.config/htop/
.config/nvim/.netrwhist
.config/nvim/pack/
.config/nvim/tmp/
.env.development.local
.idea
.ignore
.kube
.local.vim
.ssh/*
.vagrant
.vscode
/kubectl-*
Homestead
composer.phar
config/database.yml
config/secrets.yml
dump.rdb
dump.sql
node_modules
public/packs
tags
tmp
todo.todo
