[Desktop Entry]
Version=1.0
Name=Thunderbird
GenericName=Web Browser
Comment=Access the Internet
Exec=/home/adrien/bin/thunderbird/thunderbird
StartupNotify=true
Terminal=false
Icon=/home/adrien/bin/thunderbird/chrome/icons/default/default256.png
Type=Application
Categories=Mail;
